<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../static/css/style.css" />
        <title>Show User #{{ user.id }}</title>
    </head>
    <body>
        <div class="container asCol">
            <div class="asRow">
                <div>
                    <h1>Show User #{{ user.id }}</h1>
                </div>
                <a href="/">Home</a>
            </div>
            <form action="">
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th><label for="fname">First Name:</label></th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th><label for="lname">Last Name:</label></th>
                        <td>{{user.last_name}}</td>
                    </tr>
                    <tr>
                        <th><label for="email">Email:</label></th>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <th><label for="occ">Occupation:</label></th>
                        <td>{{user.occupation}}</td>
                    </tr>
                </table>
            </form>
            <div class="asRowLeft">
                <table>
                    <tr>
                        <td>
                            <a href="/user/{{ user.id }}/edit">Edit</a> |
                            <a href="/user/{{ user.id }}/delete">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
